{# Official rendered DPS footer from the saved pre-production page; links adapted for this prototype. #}
<footer class="govuk-template__footer">
          
        
        
  <div class="connect-dps-common-footer govuk-!-display-none-print" role="contentinfo">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div id="connect-dps-common-footer-services" class="govuk-grid-column-three-quarters connect-dps-common-footer__services-menu">
                <h2>Services</h2>
                <ul class="govuk-list">
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Accredited Programmes</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Adjudications</a></li>
                        
                    
                        
                    
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Check my diary</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">CSIP</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">External movements</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Global search</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Learning and work progress</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Manage user accounts</a></li>
                        
                    
                        
                    
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Social visits</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Submit an intelligence report</a></li>
                        
                    
                        
                            <li><a class="connect-dps-common-footer__link" href="#">Support for additional needs</a></li>
                        
                    
                        
                    
                </ul>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="connect-dps-common-footer__help">
                    <h2>Get help with DPS</h2>
                    <p class="govuk-body">
                      Call 0800 917 5148 or #6598 from inside an establishment.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="connect-dps-common-footer__support-links">
                    <h2 class="govuk-visually-hidden">Support links</h2>

                    <ul class="connect-dps-common-footer__inline-list">
                        <li class="connect-dps-common-footer__inline-list-item">
                            <a class="connect-dps-common-footer__link" href="#" referrerpolicy="no-referrer" rel="noopener">
                                Feedback (opens in a new tab)
                            </a>
                        </li>

                        
                            <li class="connect-dps-common-footer__inline-list-item">
                                <a class="connect-dps-common-footer__link" href="#">
                                    Accessibility
                                </a>
                            </li>
                        
                            <li class="connect-dps-common-footer__inline-list-item">
                                <a class="connect-dps-common-footer__link" href="#">
                                    Terms and conditions
                                </a>
                            </li>
                        
                            <li class="connect-dps-common-footer__inline-list-item">
                                <a class="connect-dps-common-footer__link" href="#">
                                    Privacy policy
                                </a>
                            </li>
                        
                            <li class="connect-dps-common-footer__inline-list-item">
                                <a class="connect-dps-common-footer__link" href="#">
                                    Cookies policy
                                </a>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

        
      
        </footer>
