{% extends "layouts/hmpps.html" %}
{% set pageName = ("Error: " if termsError) + "Before you start using HMPPS Digital Services" %}
{% set signedIn = true %}
{% set termsErrorMessage = "You must accept the terms and conditions to continue" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if termsError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: termsErrorMessage, href: "#terms-accepted" }]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Before you start using HMPPS Digital Services</h1>
    <p class="govuk-body">You must read and agree to these terms and conditions for the responsible use of HMPPS Digital Services. The terms and conditions govern your user account and staff access.</p>
    <p class="govuk-body">HMPPS Digital Services contain sensitive information. By using HMPPS Digital Services, you confirm that you understand and agree to the following responsibilities.</p>

    <h2 class="govuk-heading-m">Who we are</h2>
    <p class="govuk-body">HMPPS Digital Services are managed by Justice Digital on behalf of the Crown. Justice Digital is part of the Ministry of Justice and will be referred to as ‘we’ from now on.</p>

    <h2 class="govuk-heading-m">Only access information you need for your job</h2>
    <p class="govuk-body">Only search, access, view, use or share prisoner information when you have a legitimate work-related reason to do so.</p>
    <p class="govuk-body">Having access to a prisoner’s profile does not mean you are authorised to view it.</p>
    <p class="govuk-body">Accessing information without a legitimate work-related reason is unauthorised access.</p>
    <p class="govuk-body">Anything you do in HMPPS Digital Services must comply with the Computer Misuse Act and other relevant data legislation.</p>
    <p class="govuk-body">You must not:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>browse or search records out of curiosity, including friends or family</li>
      <li>look up prisoners unless you need to as part of your role</li>
      <li>access records at another establishment or information for someone else, unless you're authorised to do so as part of your work</li>
    </ul>

    <h2 class="govuk-heading-m">Keep information secure and confidential</h2>
    <p class="govuk-body">Information in HMPPS Digital Services is sensitive and must be handled responsibly.</p>
    <p class="govuk-body">You must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>keep prisoner and staff information confidential</li>
      <li>only share information with people inside or outside HMPPS who are authorised to receive it</li>
      <li>only print, copy, photograph, download or otherwise share information when you have a legitimate work-related reason and are authorised to do so</li>
      <li>follow HMPPS policies when storing, sending or handling information</li>
    </ul>
    <p class="govuk-body">You must not:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>allow unauthorised people to view or use HMPPS Digital Services or your staff computer</li>
      <li>allow prisoners to view screens, even those that contain their own information</li>
      <li>take screen shots or use web capture tools to take images from HMPPS Digital Services</li>
    </ul>

    <h2 class="govuk-heading-m">Protect your account</h2>
    <p class="govuk-body">Your account is for your use only. You are accountable for what you do on your account and for what someone else does if you let them use it. Everything you do in HMPPS Digital Services is linked to you.</p>
    <p class="govuk-body">Always keep your account details secure. You must never:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>share your username or password</li>
      <li>use someone else's account</li>
      <li>allow someone else to use your account</li>
      <li>leave your computer unlocked if unattended</li>
      <li>attempt to access HMPPS Digital Services from a non-MOJ approved device</li>
    </ul>

    <h2 class="govuk-heading-m">How to report security a breach</h2>
    <p class="govuk-body">You must read and understand how to report security breaches.</p>

    <h2 class="govuk-heading-m">Keep records accurate and use HMPPS Digital Services professionally</h2>
    <p class="govuk-body">What you record is used across HMPPS to make operational decisions. Inaccurate entries can lead to poor decisions.</p>
    <p class="govuk-body">You must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>record information accurately</li>
      <li>update records promptly</li>
      <li>correct mistakes where appropriate</li>
      <li>only use HMPPS Digital Services for official HMPPS business</li>
    </ul>
    <p class="govuk-body">All data you enter into HMPPS Digital Services is potentially liable to legal disclosure under the Data Protection Act and/or the Freedom of Information Act.</p>

    <h2 class="govuk-heading-m">Remember your activity is recorded and may be monitored</h2>
    <p class="govuk-body">HMPPS Digital Services keeps an audit trail of your activity. Your activity may be monitored and investigated where inappropriate or unauthorised use is suspected.</p>
    <p class="govuk-body">HMPPS can see:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what information you've searched for or viewed</li>
      <li>what you've created or changed</li>
      <li>when you accessed it</li>
    </ul>

    <h2 class="govuk-heading-m">If you misuse HMPPS Digital Services</h2>
    <p class="govuk-body">Unauthorised or inappropriate access, use or sharing of information in HMPPS Digital Services is treated as gross misconduct. It could result in disciplinary action, criminal investigation and prosecution.</p>

    <h2 class="govuk-heading-m">Information about you and your visits to HMPPS Digital Services</h2>
    <p class="govuk-body">We collect information about you in accordance with our privacy policy and our cookie policy. By using HMPPS Digital Services, you agree to us collecting this information and confirm that any data you provide is accurate.</p>
    <p class="govuk-body">The legal basis for processing your personal data is that it’s collected to fulfil your obligations under your employment contract and it is necessary to perform a task in line with HMPPS policies and procedures.</p>

    <h2 class="govuk-heading-m">Changes to these terms and conditions and your acceptance</h2>
    <p class="govuk-body">Please check these terms and conditions regularly. We can update them at any time without notice.</p>
    <p class="govuk-body">You’ll agree to any changes if you continue to use HMPPS Digital Services after the terms and conditions have been updated.</p>

    <form action="/v1/terms" method="post" novalidate>
      {{ govukCheckboxes({
        name: "terms-accepted",
        idPrefix: "terms-accepted",
        errorMessage: { text: termsErrorMessage } if termsError,
        items: [{
          value: "accepted",
          text: "I agree to these terms and conditions for the responsible use of HMPPS Digital Services."
        }]
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
