{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <p class="govuk-body">
      This prototype is for design ideation and testing for the DPS Onboarding team.
      It is to be used for exploring different approaches to presenting users with guidance, task based support and information regarding the service.
    </p>

    <p class="govuk-body">
      For more information, contact the DPS Onboarding team on Slack at #dps-onboarding.
    </p>

    <h2 class="govuk-heading-m">Current version</h2>
    <ul class="govuk-list">
      <li><a class="govuk-link" href="/v1/sign-in">Terms on single page</a></li>
      <li><a class="govuk-link" href="/v1/sign-in-multiple-pages">Terms on multiple pages</a></li>
    </ul>
  </div>
</div>

{% endblock %}
