{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <p class="govuk-body">
      This prototype is for exploring onboarding to HMPPS Digital Prison Services.
      It is to be used to develop and test ideas for the onboarding journey.
    </p>

    <h2 class="govuk-heading-m">Version 1 (work in progress)</h2>
  </div>
</div>

{% endblock %}
