{% extends "layouts/main.html" %}

{% set serviceName = "HMPPS Digital Services" %}
{% set bodyClasses = "dps-prototype" %}

{% block pageTitle %}{{ pageName }} - {{ serviceName }}{% endblock %}

{% block header %}
  {% set authUrl = "#" %}
  {% set name = "Signed in user" if signedIn %}
  {% set hmppsHeader %}{% include "dpsComponents/external-header.njk" %}{% endset %}
  {{ hmppsHeader | prototypeHmppsHeader(signedIn) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: { items: [{ text: "Terms and conditions", href: "#" }] }
  }) | inertLinks }}
{% endblock %}
